* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
}

input, button {
  margin: 10px;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 8px;
}

ul {
  margin: 0 10px;
  list-style: none;
  padding: 5px;
}

button {
  cursor: pointer;
}
